<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="/css/font-face.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/css/theme.css" rel="stylesheet" media="all">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>
<div id="app" class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="/">
                        <img src="/images/icon/asg_logo.png" alt="AviationSystemsGroup" />
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li>
                        <a href="/"> <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <li class="admin has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-table"></i>Admin</a>
                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                                <a href="/admin/users">Manage Users</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="/">
                <img src="/images/icon/asg_logo.png" alt="AviationSystemsGroup" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li>
                        <a href="/"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <li class="admin active has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-table"></i>Admin</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li class="active">
                                <a href="/admin/users">Manage Users</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <div class="header-button">
                            <div class="noti-wrap">
                            </div>
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">{{account.forename}} {{account.surname}}</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">{{account.forename}} {{account.surname}}</a>
                                                </h5>
                                                <span class="email">{{account.email}}</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-account"></i>Account</a>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="/account/logout">
                                                <i class="zmdi zmdi-power"></i>Logout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <h2 class="title-1">Users</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="au-card">
                                <div class="au-card-inner">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">
                                                <input v-model="searchTerm" class="form-control" type="search" placeholder="Search forename...">
                                            </th>
                                            <th colspan="5"></th>
                                        </tr>
                                        <tr>
                                            <th scope="col" @click="sortByChange('forename')" style="cursor: pointer;">Forename
                                                <span v-show="orderBy == 'forename' && orderByAscending == true">▲</span>
                                                <span v-show="orderBy == 'forename' && orderByAscending == false">▼</span></th>
                                            <th scope="col" @click="sortByChange('surname')" style="cursor: pointer;">Surname
                                                <span v-show="orderBy == 'surname' && orderByAscending == true">▲</span>
                                                <span v-show="orderBy == 'surname' && orderByAscending == false">▼</span></th>
                                            <th scope="col" @click="sortByChange('email')" style="cursor: pointer;">Email
                                                <span v-show="orderBy == 'email' && orderByAscending == true">▲</span>
                                                <span v-show="orderBy == 'email' && orderByAscending == false">▼</span></th>
                                            <th scope="col" @click="sortByChange('role')" style="cursor: pointer;">Role
                                                <span v-show="orderBy == 'role' && orderByAscending == true">▲</span>
                                                <span v-show="orderBy == 'role' && orderByAscending == false">▼</span></th>
                                            <th span="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="user in users" style="cursor: pointer;">
                                            <td scope="row" @click="goToProfile(user.id)">{{ user.forename }}</td>
                                            <td @click="goToProfile(user.id)">{{ user.surname }}</td>
                                            <td @click="goToProfile(user.id)">{{ user.email }}</td>
                                            <td @click="goToProfile(user.id)">{{ user.role }}</td>
                                            <td data-toggle="modal" data-target="#confirmDelete" @click="confirmDelete(user)"><i class="material-icons">delete</i></td>
                                        </tr>
                                        <tr v-if="users.length == 0">
                                            <td colspan="4">No results</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div class="d-flex flex-row justify-content-center bd-highlight mb-3">
                                        <div class="p-2 bd-highlight">
                                            <select class="form-control" v-model="pageSize">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                            </select>
                                        </div>

                                        <div class="p-2 bd-highlight">
                                            <ul class="pagination" style="margin: 0;">
                                                <li class="page-item" v-for="page in noOfPages">
                                                    <a class="page-link" @click="pageChange(page)">{{ page }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <button v-if="showDisabled" class="btn btn-primary" @click="showDisabled = false; refresh();">Show enabled</button>
                                    <button v-else class="btn btn-primary" @click="showDisabled = true; refresh();">Show disabled</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modals -->

        <div v-show="deleting != {}" class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="deleting = {}">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                    <div class="modal-body">Are you sure you want to delete {{deleting.forename}} {{deleting.surname}}? <br>
                        This action can not be undone!</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="deleting = {}">Close</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteUser">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>
</div>

<!-- Jquery JS-->
<script src="/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="/vendor/slick/slick.min.js">
</script>
<script src="/vendor/wow/wow.min.js"></script>
<script src="/vendor/animsition/animsition.min.js"></script>
<script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="/vendor/select2/select2.min.js">
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script>
    var app = new Vue ({
        el: "#app",
        data: {
            account: {
                forename: "john",
                surname: "doe",
                email: "johndoe@example.com"
            },
            users: [],
            noOfPages: 0,
            pageSize: 10,
            page: 1,
            orderBy: "forename",
            orderByAscending: false,
            searchTerm: "",
            showDisabled: false,
            deleting: {}
        },
        watch: {
            pageSize: function () {
                this.refresh();
            },
            searchTerm: function () {
                this.refresh();
            }
        },
        created: function() {
            axios.get("/api/v1/account/loggedin")
                .then(function (response) {
                    app.account = response.data;
                    if (app.account.role !== 'Admin') {
                        $(".admin").css("display", "none");
                    }
                });
        },
        methods: {
            pageChange: function(page) {
                app.page = page;
                app.refresh();
            },
            sortByChange: function(orderBy) {
                if (orderBy === app.orderBy)
                    app.orderByAscending = !app.orderByAscending;
                else
                    app.orderBy = orderBy;
                app.refresh();
            },
            goToProfile: function (id) {
                window.location.href = "/admin/users/" + id;
            },
            refresh: function () {
                var disabledUrl = app.showDisabled ? "/disabled" : "";
                axios.get("/api/v1/users" + disabledUrl + "?page=" + app.page + "&pageSize=" + app.pageSize + "&orderBy=" + app.orderBy + "&orderByAscending=" + app.orderByAscending + "&search=" + app.searchTerm)
                    .then(function (response) {
                        app.users = response.data.list;
                        app.noOfPages = response.data.noOfPages;
                    });
            },
            confirmDelete: function (user) {
                app.deleting = user;
            },
            deleteUser: function() {
                var toDeleteId = app.deleting.id;
                console.log(toDeleteId);
                app.deleting = {};
                axios.delete("/api/v1/users/" + toDeleteId)
                    .then(function (response) {
                        app.refresh()
                    })
                    .catch(function (reason) {
                        console.log(reason.response);
                    })
            }
        }
    });
    app.refresh();
</script>

<!-- Main JS-->
<script src="/js/main.js"></script>

</body>
</html>
<!-- end document-->
