<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div id = "app" class="container-fluid">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">
                <input v-model="searchTerm" class="form-control" type="search" placeholder="Search forename...">
            </th>
        </tr>
        <tr>
            <th scope="col" @click="sortByChange('forename')" style="cursor: pointer;">Forename
                <span v-show="orderBy == 'forename' && orderByAscending == true">▲</span>
                <span v-show="orderBy == 'forename' && orderByAscending == false">▼</span></th>
            <th scope="col" @click="sortByChange('surname')" style="cursor: pointer;">Surname
                <span v-show="orderBy == 'surname' && orderByAscending == true">▲</span>
                <span v-show="orderBy == 'surname' && orderByAscending == false">▼</span></th>
            <th scope="col" @click="sortByChange('email')" style="cursor: pointer;">Email
                <span v-show="orderBy == 'email' && orderByAscending == true">▲</span>
                <span v-show="orderBy == 'email' && orderByAscending == false">▼</span></th>
            <th scope="col" @click="sortByChange('role')" style="cursor: pointer;">Role
                <span v-show="orderBy == 'role' && orderByAscending == true">▲</span>
                <span v-show="orderBy == 'role' && orderByAscending == false">▼</span></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="user in users" @click="goToProfile(user.id)" style="cursor: pointer;">
            <td scope="row">{{ user.forename }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
        </tr>
        <tr v-if="users.length == 0">
            <td colspan="4">No results</td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex flex-row justify-content-center bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <select class="form-control" v-model="pageSize">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
        </div>

        <div class="p-2 bd-highlight">
            <ul class="pagination" style="margin: 0;">
                <li class="page-item" v-for="page in noOfPages">
                    <a class="page-link" @click="pageChange(page)">{{ page }}</a>
                </li>
            </ul>
        </div>
    </div>

    <button v-if="showDisabled" class="btn-primary" @click="showDisabled = false; refresh();">Show enabled</button>
    <button v-else class="btn-primary" @click="showDisabled = true; refresh();">Show disabled</button>
</div>
</body>

<script>
    var app = new Vue ({
        el: "#app",
        data: {
            users: [],
            noOfPages: 0,
            pageSize: 10,
            page: 1,
            orderBy: "forename",
            orderByAscending: false,
            searchTerm: "",
            showDisabled: false
        },
        watch: {
            pageSize: function () {
                this.refresh();
            },
            searchTerm: function () {
                this.refresh();
            }
        },
        methods: {
            pageChange: function(page) {
                app.page = page;
                this.refresh();
            },
            sortByChange: function(orderBy) {
                if (orderBy === app.orderBy)
                    app.orderByAscending = !app.orderByAscending;
                else
                    app.orderBy = orderBy;
                this.refresh();
            },
            goToProfile: function (id) {
                window.location.href = "/admin/users/" + id;
            },
            refresh: function () {
                var disabledUrl = this.showDisabled ? "/disabled" : "";
                axios.get("/api/v1/users" + disabledUrl + "?page=" + app.page + "&pageSize=" + app.pageSize + "&orderBy=" + app.orderBy + "&orderByAscending=" + app.orderByAscending + "&search=" + app.searchTerm)
                    .then(function (response) {
                        app.users = response.data.list;
                        app.noOfPages = response.data.noOfPages;
                    });
            }
        }
    });

    app.refresh();
</script>
</html>